<!DOCTYPE html>
<html>
    <head>
        <title><%= @project_name %></title>
        <link rel='stylesheet' href='/css/master.css' type='text/css'>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
